{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/media.css' %}">
    <link rel="icon" href="{% static 'main/images/nirvana-logo-svgrepo-com.svg' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
        <div class="wrap_container">
            <div class="header_nav">
                <h1 class="logo">Django App</h1>
                <nav class="nav_menu">
                    <ul>
                        <li class="nav-item"><a href="#">Home</a></li>
                        <li class="nav-item"><a href="#">Lab 6</a></li>
                        <li class="nav-item"><a href="#">Lab 7</a></li>
                        <li class="nav-item"><a href="#">Lab 8</a></li>
                        <li class="nav-item"><a href="#">Lab 9</a></li>
                    </ul>
                </nav>
                <nav class="nav_buttons">
                    <a href="#">Sign in</a>
                    <a href="#">Sign up</a>
                </nav>
                 <div class="burger-menu">
                      <span></span>
                      <span></span>
                      <span></span>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="wrap_container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

</body>
</html>