{% extends 'main/layout.html' %}

{% block title %}
Лабораторная работа №7
{% endblock %}
{% block content %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        color: white;
    }
    th, td {
        border: 1px solid white;
        padding: 10px;
        max-width: 100%;
        width: 300px;
        text-align: center;
    }
    th {
        background-color: #4CAF50;
    }





</style>
<div style="display: flex; flex-direction: column; align-items: center; gap: 50px;">
    <div style="gap: 30px; display: flex; align-items: center;">
        <table style="color: white;">
            <tr>
                <th>Номер</th>
                <th>Долгота</th>
            </tr>
            {% for object in longitude %}
            <tr>
                <td>{{ object.id }}</td>
                <td>{{ object.longitude }} °</td>
            </tr>
            {% endfor %}
        </table>
        <table style="color: white;">
            <tr>
                <th>Номер</th>
                <th>Широта</th>
            </tr>
            {% for object in latitude %}
            <tr>
                <td>{{ object.id }}</td>
                <td>{{ object.latitude }} °</td>
            </tr>
            {% endfor %}
        </table>
        <table style="color: white;">
            <tr>
                <th>Номер</th>
                <th>Город</th>
                <th>Широта</th>
                <th>Долгота</th>
            </tr>
            {% for object in city %}
            <tr>
                <td>{{ object.id }}</td>
                <td>г. {{ object.city }}</td>
                <td>{{ object.latitude }} °</td>
                <td>{{ object.longitude }} °</td>
            </tr>
            {% endfor %}
        </table>
        <table style="color: white;">
            <tr>
                <th>Номер</th>
                <th>Оборудование</th>
            </tr>
            {% for object in device %}
            <tr>
                <td>{{ object.id }}</td>
                <td>{{ object.device }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <table style="color: white;">
            <tr>
                <th>Номер</th>
                <th>Долгота</th>
                <th>Широта</th>
                <th>Температура</th>
                <th>Город</th>
                <th>Оборудование</th>
                <th>Редактирование записи</th>
                <th>Удаление записи</th>
            </tr>
            {% for object in measurements %}
            <tr>
                <td>{{ object.id }}</td>
                <td>{{ object.city.longitude }}</td>
                <td>{{ object.city.latitude }}</td>
                <td>{{ object.temperature }} °C</td>
                <td>г. {{ object.city }}</td>
                <td>
                    {% for dev in object.device.all %}
                    {{ dev.device }}
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td><a class="model_btn update" href="{% url 'update_record' object.id %}" style="color: white;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white"
                         class="bi bi-pen-fill" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                    </svg>
                </a></td>
                <td><a class="model_btn delete" href="{% url 'delete_rec' object.id %}" style="color: white;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white"
                         class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                    </svg>
                </a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <a class="edit_btn add" href="{% url 'create_record' %}">Добавить запись</a>
</div>
{% endblock %}